.background {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(10px);
  border: 1px solid black;
}

.title {
  color: black;
  font-size: 36px;
}

.image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.image:hover {
  transform: scale(1.05);
}

.gridContainer {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
  margin: 20px;
  height: 50vh;
  overflow-y: auto;
}

.gridItem {
  padding: 10px;
  text-align: center;
}

.gridItem img {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}


.selected {
  box-shadow: 0 0 30px rgb(0, 0, 0);
}

.confirmButton {
  background-color: #000000;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  padding: 10px;
}

.containerWithPreview {
  display: flex;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 80%;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  width: 100%
}

.containerToLeft {
  width: 75%;
}


.previewContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 10px;
}


.previewImage {
  max-width: 80%;
  max-height: 80%;
  display: block;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}





.pageNavigation {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding: 7px;
  border-radius: 4px;
}

.pageButton {
  padding: 3px 16px;
  background-color: #000000;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  width: 100px;
}

.pageButton:disabled {
  background-color: lightgray;
  cursor: not-allowed;
  color: grey
}

.pageText {
  margin: 0 10px;
  color: lightgray;
}

.pageInput {
  width: 50px;
  padding: 8px;
  border: none;
  color: lightgray;
  background-color: black;
  border-radius: 4px;
  text-align: center;
  font-size: 15px;
}




.loadingSpinner {
  font-size: 160px;
  /* Tamaño del ícono de carga */
  color: white;
  /* Color del ícono de carga */
  animation: spin 2s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  /* Animación de giro con curva de aceleración personalizada */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(720deg);
  }

  /* Giro rápido a la mitad de la animación */
  100% {
    transform: rotate(1440deg);
  }

  /* Giro lento para completar la vuelta */
}