.popupContainer {
    background-color: gray;
          color: white;
          position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
          border: 1px solid #666666;
          padding: 15px;
          border-radius: 5px;
}