.overlayCardTextLeft {
    position: absolute;
    left: 4px;
    bottom: 3px;
    width: 40%;
    height: 47px;
    border-radius: 3px;
    z-index: 999;
    color: black;
    display: flex;
    align-items: center;
    font-weight: bold;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-line;
    overflow: hidden;
    line-height: 1.2;
    max-height: 100%;
    
}
  
.overlayCardTextFirstColumn {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80px;
    height: 40%;
    max-height: 100%;
    border-radius: 3px;
    z-index: 999;
    color: black;
    display: flex;
    align-items: end;
    font-weight: bold;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-line;
    overflow: hidden;
    line-height: 1.2;
}

.overlayCardTextLeft:hover,
.overlayCardTextLeft.editing {
    border: 1px dashed blue; /* Change the border style on hover and when editing */
}

.overlayCardTextFirstColumn:hover,
.overlayCardTextFirstColumn.editing {
    border: 1px dashed blue; /* Change the border style on hover and when editing */
}