@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

.containerBox {
    font-family: 'Paytone One', sans-serif;
    word-wrap: break-word;
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    padding: 5px;
    z-index: 1;
    /* Include padding and border in the total width and height */
    color: rgb(255, 0, 0);
    font-weight: bold;
    overflow: hidden;  /* Prevent text overflow */
    border: 1px solid rgb(0, 0, 0);
    background-color: white;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.containerBox.editing {
    border: 1px dashed blue; /* Change the border style when editing */
  }

  .topButtomBox {
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.leftBox {
    align-items: center;
    justify-content: center;
    align-content: center;
    font-family: 'Paytone One', sans-serif;
    transform: scaleY(1.5);
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    align-items: flex-start;
}



.middleBox {
    font-family: 'Paytone One', sans-serif;
    font-size: 14px;
    height: 100%;
    width: 25%;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
}

.rightBox {
    width: 50%;
    display: flex;
    transform: scaleY(1.5);
    align-items: center;
    justify-content: center;
    text-align: center;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    align-items: flex-start;
}

.box.editing {
    border: 1px dashed blue; /* Change the border style when editing */
}