.centerContainer {
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% of the viewport height */
    z-index: 3;
  }
  
  .popupContainer {
    background-color: #ffffff; /* Set your preferred background color */
    padding: 20px;
    border: 1px solid #000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
     /* Add a subtle box shadow */
  }
  
  .textarea {
    width: 94%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Add a border for better visibility */
    border-radius: 4px;
  }
  
  .button {
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
  }